{% extends "encyclopedia/layout.html" %}
    
    
{% block title %}
    newpage
{% endblock %}

{% block body %}


   <center> 

        <div class="container">

            <h6>Create New Page</h6>    

            <form action="{% url 'encyclopedia:newpage' %}" method="post"> 
                {% csrf_token %}
            
                <div style="margin-bottom:2%"> 
                    <input placeholder="title" name="newpage_title" type="text">
                </div>
        
                <div> 
                    <textarea name="newpage_content" placeholder="markdown content" id="textarea" ></textarea>
                </div>

                <div>
                    <button>Save</button>
                </div>

            </form>

        </div>

    </center>
    


{% endblock %}    

    
